<div>
    <a type="button" class="btn btn-primary btn-create-pet" asp-controller="Pet" asp-action="CreateForm">Adicionar Pet</a>
</div>

<div class="card" style="width: 16rem;">
    <img src="~/img/cachorro.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Bob</h5>
        <p class="card-text">3 kg.</p>
        <p class="card-text">02 anos.</p>

        <a href="#" class="btn btn-primary">Ver Carteira</a>
    </div>
</div>