@model IEnumerable<CarteiraPet.Domain.Models.PetModel>

<div>
    <a type="button" class="btn btn-primary btn-create-pet" style="margin: 5px;" asp-controller="Pet" asp-action="CreateForm">Adicionar Pet</a>
</div>

<div class="d-flex flex-wrap justify-content-center">
   @foreach (var pet in Model)
   {
       <div class="card" style="width: 21rem; margin: 5px">
           <img style="width: 100%; height: 250px" src="@Html.DisplayFor(m => pet.Photo)" class="card-img-top" alt="...">
           <div class="card-body">
               <h5 class="card-title">@Html.DisplayFor(m => pet.Name)</h5>
               <p class="card-text">@Html.DisplayFor(m => pet.Age)</p>
               <p class="card-text">@Html.DisplayFor(m => pet.Sex)</p>
               <a href="/pet/get/@pet.Id" class="btn btn-primary">Ver carteira</a>
               <a href="/pet/EditForm/@pet.Id" class="btn btn-primary">Editar</a>
           </div>
       </div> 
   } 
</div>
